<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- index -->
    <bean name="indexAction" class="cn.edu.buaa.jsi.web.action.IndexAction" scope="prototype" >
        <property name="newsService" ref="newsService" />
    </bean>
    <!-- login -->
    <bean name="loginAction" class="cn.edu.buaa.jsi.web.action.LoginAction" scope="prototype" >
        <property name="accountService" ref="accountService" />
    </bean>
    <bean name="loginInterceptor" class="cn.edu.buaa.jsi.web.interceptor.LoginInterceptor" scope="prototype">
        <property name="accountService" ref="accountService" />
    </bean>
    <bean name="registerAction" class="cn.edu.buaa.jsi.web.action.RegisterAction" scope="prototype">
        <property name="accountService" ref="accountService" />
    </bean>
    <bean name="pictureAction" class="cn.edu.buaa.jsi.web.action.pictureAction" scope="prototype">
        <property name="imageService" ref="imageService" />
    </bean>
    <bean name="newsAction" class="cn.edu.buaa.jsi.web.action.NewsAction" scope="prototype">
        <property name="newsService" ref="newsService" />
    </bean>
    <bean name="fileAction" class="cn.edu.buaa.jsi.web.action.FileAction" scope="prototype">
        <property name="fileService" ref="fileService" />
    </bean>
</beans>