<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 引入spring事务管理配置文件-->
    <import resource="cn/edu/buaa/jsi/config/spring-hibernate.xml"/>

    <!-- 引入spring依赖注入管理配置文件-->
    <import resource="cn/edu/buaa/jsi/config/spring-beans.xml"/>
</beans>